.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  .main_header {
    padding: 34px 0 0 35px;
  }
}
.c_red {
  color: #e60012!important;
}
.s_large {
  font-size: 4rem!important;
}
.wrapper {
  min-width: 990px;
}

main {
  position: relative;
}

.first_view {
  width: 100%;
  position: relative;
  z-index: 1;
  .main_sec {
    font-family: $font;
    padding: 26px 15px 149px;
    position: relative;
    z-index: 2;
    .top {
      display: flex;
      justify-content: space-between;
      .left {
        padding: 115px 0 0 0;
        h2 {}
        h3 {
          margin-top: 20px;
        }
        h4 {
          margin-top: 30px;
        }
        p {}
      }
      figure {
        width: 282px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .bottom {
      text-align: center;
      margin-top: -30px;
      .wrap {}
    }
  }
  .particlesjs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 990px;
    height: 100%;
    z-index: 1;
    background: url('../img/bg_first.jpg') 0 0 no-repeat;
    background-size: cover;
  }
}
.menu {
  width: 945px;
  margin: 0 auto;
  ul {
    display: flex;
    align-items: flex-end;
    li {
      &:not(:first-child) {
        margin-left: 8px;
      }
      a {
        display: inline-block;
      }
    }
  }
}
// LP5
.last_story {
  background: linear-gradient(90deg, #ff6000 0%, #f8bb00 100%);
  margin-top: 31px;
  .main_sec {
    text-align: center;
    padding: 49px 0 30px;
    p {
      &:nth-of-type(1) {
        margin-top: 41px;
      }
      &:nth-of-type(2) {
        margin-top: 41px;
      }
    }
  }
}
.not_seen {
  text-align: center;
  padding: 0 0 7px;
  background: linear-gradient(90deg, #ff6000 0%, #f8bb00 100%);
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 175px;
    height: 60px;
    background: url('../img/not_seen_02.png') 0 0 no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
  }
  .main_not_seen {
    background: #fff;
    padding: 80px 0 70px;
    figure {
      figcaption {
        margin-top: 48px;
      }
    }
    .bottom_btn {
      position: relative;
      transform: translateZ(0);
      width: 886px;
      margin: 37px auto 0;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #2d652f 0%, #759f2a 52%, #2c632e 100%);
        left: 0;
        top: 13px;
        border-radius: 8px;
        z-index: -1;
      }
      &:hover {
        a {
          opacity: 1;
          transform: translateY(13px);
        }
      }
      a {
        display: flex;
        width: 100%;
        height: 174px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(59, 144, 26, 1) 0%, rgba(165, 218, 23, 1) 52%, rgba(54, 141, 26, 1) 100%);
        text-shadow: 0px 0px 9px #000;
        position: relative;
        transition: all 0.3s ease;
        span {
          position: relative;
          display: inline-block;
          padding: 0 0 0 180px;
          &:before {
            position: absolute;
            content: "";
            width: 180px;
            height: 158px;
            background: url(../img/icon_play.png) 0 0 no-repeat;
            background-size: contain;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
.all_ariadne {
  text-align: center;
  padding: 95px 0 0;
}
.step02 {
  border-top: 4px solid #ff6200;
  border-bottom: 4px solid #fb9600;
  margin-top: 155px;
  &_white {
    background: #fff;
    padding: 4px 0;
  }
  &_gradient {
    background: #fffbec;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 118px;
      height: 64px;
      background: url('../img/arrow_pink.png') 0 0 no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      bottom: -64px;
    }
    .main_sec {
      text-align: center;
      padding: 0 0 100px;
      h2 {
        img {
          margin-top: -86px;
        }
      }
      p {
        &:nth-of-type(1) {
          margin-top: 53px;
          font-size: 0;
        }
        &:nth-of-type(2) {
          margin-top: 42px;
        }
        &:nth-of-type(3) {
          margin-top: 28px;
        }
        &:nth-of-type(4) {
          margin-top: 33px;
        }
      }
    }
  }
}
.bgytb {
  background: #f9b200;
  .ytb {
    padding: 148px 0 95px;
    text-align: center;
    .wrap {
      position: relative;
      width: 911px;
      margin: 0 auto;
      &.hidden {
        &:after {
          content: none;
        }
        a {
          display: none;
        }
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url('../img/maxresdefault.jpg') 0 0 no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: 2;
      }
      a {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        &:after {
          content: "";
          display: block;
          height: 80px;
          border-radius: 100%;
          margin: 10px 10px 10px 10px;
          position: absolute;
          top: 50%;
          margin: -39px 0px 0px -39px;
          background-color: #fff;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          z-index: 0;
          box-shadow: 0 0 5px rgba(255, 255, 255, 1);
          animation-name: rippleAnimation;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          animation-duration: 2s;
        }
        i {
          &::before {
            font-size: 4rem;
            color: #fff;
            display: flex;
            width: 80px;
            height: 80px;
            justify-content: center;
            align-items: center;
            border: 1px solid #fff;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
.st_nav_movie_nice {
  .bx_ttl_movie_nice {
    background: linear-gradient(90deg, rgba(103, 1, 1, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(126, 10, 10, 1) 100%);
    padding: 10px 0;
    position: relative;
    &:after {
      content: "";
      background: url(../img/arr_ttl_movie.png) no-repeat;
      width: 129px;
      height: 73px;
      position: absolute;
      bottom: -59px;
      left: 50%;
      transform: translateX(-50%);
    }
    .bx_bkg_05 {
      background: linear-gradient(90deg, rgba(250, 207, 22, 1) 0%, rgba(250, 207, 22, 1) 1%, rgba(209, 148, 29, 1) 17%, rgba(255, 204, 17, 1) 39%, rgba(255, 255, 208, 1) 85%, rgba(200, 175, 54, 1) 100%);
      padding: 3px 0;
      .bkg_core {
        background: linear-gradient(90deg, rgba(103, 1, 1, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(126, 10, 10, 1) 100%);
        padding: 104px 0 109px;
        h2 {
          font-size: rem(50);
          color: #fff;
          font-weight: bold;
          font-family: $font;
          line-height: 1.5;
          position: relative;
          text-align: center;
          &:before,
          &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          &:before {
            background: url(../img/bf_ttl.png) no-repeat;
            background-size: contain;
            width: 422px;
            height: 48px;
            top: -74px;
          }
          &:after {
            background: url(../img/af_ttl.png) no-repeat;
            background-size: contain;
            width: 422px;
            height: 48px;
            bottom: -74px;
          }
        }
      }
    }
  }
  .bx_gift_episode {
    padding: 130px 0 137px;
    background: url(../img/bkg_free.jpg) center center no-repeat;
    background-size: cover;
    .movie_extra {
      margin-bottom: 53px;
    }
    .first_ttl_cmm {
      text-align: center;
    }
    .bx_free_ari {
      width: 932px;
      margin: 64px auto 47px;
      position: relative;
      &:before {
        content: "";
        width: 37px;
        height: 35px;
        background: url(../img/arrow_left_free.png) no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      &:after {
        content: "";
        width: 37px;
        height: 35px;
        background: url(../img/arrow_right_free.png) no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
      .top_free {
        background: linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(67,67,67,1) 48%, rgba(0,0,0,1) 100%); /* w3c */
        padding: 41px 0 40px;
        position: relative;
        &:after {
          content: "";
          width: 100%;
          height: 5px;
          background: linear-gradient(90deg, rgba(250, 207, 22, 1) 0%, rgba(250, 207, 22, 1) 1%, rgba(209, 148, 29, 1) 17%, rgba(255, 204, 17, 1) 39%, rgba(255, 255, 208, 1) 85%, rgba(200, 175, 54, 1) 100%);
          position: absolute;
          bottom: -4px;
          left: 0;
        }
        h4 {
          padding: 0 45px 0 270px;
          position: relative;
          &:before {
            content: "";
            background: url(../img/icon_free.png) no-repeat;
            width: 265px;
            height: 184px;
            position: absolute;
            left: 9px;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
          }
          img {
            position: relative;
            z-index: 2;
          }
        }
      }
      .bottom_free {
        background: linear-gradient(0deg, rgba(103, 1, 1, 1) 0%, rgba(244, 0, 0, 1) 50%, rgba(126, 10, 10, 1) 100%);
        padding: 4px;
        .bx_bkg_07 {
          background: #fff;
          padding: 45px 30px 67px 29px;
          figure {
            text-align: center;
            margin-bottom: 30px;
          }
          .bt_text {
            padding-left: 25px;
          }
        }
      }
    }
    .bx_obtaining {
      text-align: center;
    }
    .bx_special_method {
      width: 925px;
      border: 5px solid #000;
      margin: 101px auto 35px;
      position: relative;
      padding: 97px 30px 50px;
      background-color: #fff;
      h4 {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
      }
      .list_special {
        font-size: 0;
        display: flex;
        justify-content: space-between;
        li {
          text-align: center;
          width: calc(33, 33% - 164px);
          position: relative;
          &:last-child {
            &:after {
              content: none;
            }
          }
          &:after {
            content: "";
            width: 187px;
            height: 10px;
            background-color: #da1c1c;
            position: absolute;
            top: 68px;
            right: -152px;
          }
          span {
            display: block;
            position: relative;
            z-index: 2;
          }
          em {
            font-style: normal;
            font-size: rem(25);
            line-height: 1.5;
            font-family: $font;
            font-weight: bold;
            display: block;
            margin: 30px 0 40px;
          }
          figure {
            display: block;
          }
        }
      }
    }
    .btn_submit_cmm {
      width: 886px;
      margin: 0 auto;
      position: relative;
      transform: translateZ(0);
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(45, 101, 47, 1) 0%, rgba(117, 159, 42, 1) 52%, rgba(44, 99, 46, 1) 100%);
        left: 0;
        top: 17px;
        border-radius: 8px;
        z-index: -1;
      }
      &:hover {
        a {
          opacity: 1;
          transform: translateY(17px);
        }
      }
      a {
        display: flex;
        width: 100%;
        height: 246px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(62, 139, 65, 1) 0%, rgba(161, 205, 58, 1) 52%, rgba(58, 136, 64, 1) 100%);
        text-shadow: 0px 0px 9px #000;
        line-height: 66px;
        font-weight: bold;
        color: #fff;
        position: relative;
        transition: all 0.3s ease;
        border: none;
        cursor: pointer;
        span {
          width: 100%;
          font-size: rem(41);
          line-height: 1.5;
          font-weight: bold;
          color: #fff;
          display: block;
          position: relative;
          text-align: center;
          &:before {
            content: "";
            background: url(../img/arr_left.png) no-repeat;
            width: 55px;
            height: 180px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
          }
          &:after {
            content: "";
            background: url(../img/arr_right.png) no-repeat;
            width: 55px;
            height: 180px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
          }
          strong {
            display: block;
            font-size: rem(80);
            line-height: 1;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
.hattrick_ar {
  background-color: #f9b200;
  .main_sec {
    background: #fff;
    padding: 93px 65px 54px 73px;
    >div {
      +div {
        margin-top: 79px;
      }
    }
    .intro {
      margin-bottom: 47px;
    }
    .photo {
      margin-bottom: 59px;
    }
    .pop {
      margin-top: 122px;
      text-align: center;
      margin-bottom: 106px;
    }
    .btn_back_top a span {
      padding-left: 144px;
      &::before {
        width: 127px;
        height: 127px;
        background: url('../img/icon_play.png') 0 0 no-repeat;
        background-size: contain;
      }
    }
    .btn_extra a span::after {
      display: none;
    }
    .tap {
      figure {
        position: absolute;
        top: -40px;
        right: 0;
        z-index: 1;
      }
      .wrap_img {
        margin-bottom: 47px;
      }
      .bx_video {
        margin: 270px -65px 0 -73px;
        position: relative;
        span {
          position: absolute;
          top: -202px;
          left: 50%;
          transform: translateX(-50%);
        }
        .bgytb {
          background: linear-gradient(69deg, rgba(82, 179, 51, 1) 0%, rgba(244, 236, 47, 1) 100%);
          .ytb {
            padding: 398px 0 65px;
          }
          .wrap {
            width: 850px;
          }
        }
      }
    }
    .txt {
      position: relative;
      p {
        font-size: 3rem;
        line-height: 1.5;
        position: relative;
        z-index: 2;
        +p {
          margin-top: 70px;
        }
        &.fz-lagre {
          font-size: rem(40);
          color: #e60012;
          span {
            font-size: rem(30);
          }
        }
      }
      .bx_pop {
        position: relative;
        margin-top: 80px;
        .btn_back_top {
          position: absolute;
          bottom: 100px;
          left: 50%;
          transform: translateX(-50%);
          width: 785px;
          a {
            height: 168px;
            span {
              &:before {
                width: 108px;
                height: 108px;
                left: 28px;
              }
              &:after {
                content: none;
              }
            }
          }
        }
      }
      .bx_step {
        margin: 0 -65px 83px -73px;
      }
      .three_step {
        margin: 0 -65px 0 -73px;
        text-align: center;
        .group_step {
          background: linear-gradient(90deg, rgba(248, 187, 0, 1) 0%, rgba(255, 96, 0, 1) 100%);
          padding: 50px 0 113px;
          position: relative;
          z-index: 4;
          &::after {
            position: absolute;
            content: "";
            width: 94px;
            height: 66px;
            background: url('../img/arrow_three_step.png') 0 0 no-repeat;
            background-size: contain;
            bottom: -66px;
            left: 50%;
            transform: translateX(-50%);
          }
          p {
            &:nth-of-type(2) {
              margin-top: 39px;
            }
            &:nth-of-type(3) {
              margin-top: 45px;
            }
          }
        }
        > p {
          padding: 122px 0 125px;
          background: #fff;
          position: relative;
          z-index: 3;
        }
      }
      .btn_cts {
        margin-bottom: 120px;
      }
      .author {
        span {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
    }
  }
  .ttl_mb {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.member {
  > figure {
    position: relative;
    transform: translateZ(0);
    &::after {
      position: absolute;
      content: "";
      width: 990px;
      height: 100%;
      background: #fff;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      z-index: -1;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .main_sec .tap figure {
    top: 0;
  }
}
.cert {
  figure {
    margin-bottom: 66px; 
  }
  p {
    font-size: 3rem;
    line-height: 1.5;
    position: relative;
    z-index: 2;
    +p {
      margin-top: 70px;
    }
    &:last-of-type {
      text-align: right;
      font-size: 8rem;
      line-height: 1;
    }
  }
}
// LP5
.bx_download_ari {
  &.bx_download_ari2 {
    background: #e9e9e9;
  }
}

.gr_wait_rule.forward {
  .row {
    padding-top: 78px;
    padding-bottom: 115px;
  }
}