.bx_download_ari {
  &.bx_download_ari2 {
    background: #e9e9e9;
  }
}

.gr_wait_rule.forward {
  .row {
    padding-top: 78px;
    padding-bottom: 115px;
  }
}

.bx_monitor {
  background: linear-gradient(90deg, rgba(255, 96, 0, 1) 0%, rgba(248, 187, 0, 1) 100%);
  padding: 1px 0 4px;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    background: url(../img/icon_down_hand.png) no-repeat;
    width: 83px;
    height: 55px;
    position: absolute;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);
  }
  .bx_bkg_01 {
    background: linear-gradient(90deg, rgba(253, 247, 220, 1) 0%, rgba(255, 246, 0, 1) 100%);
    padding: 31px 0 49px;
  }
  .ttl_monitor {
    margin-top: 50px;
  }
}

.bx_ariadne {
  padding: 96px 0 0 0;
  .row {
    position: relative;
  }
  .tt_ari {
    text-align: center;
    padding-left: 261px;
    position: relative;
    margin-bottom: 86px;
    &:before {
      content: "";
      background: url(../img/bf_ari.png) no-repeat;
      width: 231px;
      height: 213px;
      position: absolute;
      top: 50%;
      left: 23px;
      transform: translateY(-50%);
    }
  }
  .list_ex_ari {
    padding: 0 30px;
    position: relative;
    li {
      position: relative;
      margin-bottom: 63px;
      &:nth-child(odd) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        figure {
          top: 0;
          left: 0;
          z-index: 1;
          align-items: flex-end;
        }
        .bx_ctn {
          .gr_white {
            padding: 33px 35px 54px 141px;
          }
        }
      }
      &:nth-child(even) {
        figure {
          top: 0;
          right: 0;
          z-index: 1;
          align-items: inherit;
        }
        .bx_ctn {
          .gr_white {
            padding: 33px 110px 54px 35px;
          }
        }
      }
      figure {
        position: absolute;
        display: flex;
        flex-direction: column;
      }
      .bx_ctn {
        background: linear-gradient(90deg, rgba(255, 96, 0, 1) 0%, rgba(248, 187, 0, 1) 100%);
        padding: 4px;
        width: 732px;
        .gr_white {
          background-color: #fff;
          h4 {
            font-size: rem(33);
            font-weight: bold;
            line-height: 35px;
            margin-bottom: 35px;
          }
          p {
            font-size: rem(26);
            line-height: 35px;
            font-style: normal;
            &:not(:last-child) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }
}

.ari_start {
  background: linear-gradient(90deg, rgba(248, 171, 1, 1) 0%, rgba(248, 128, 0, 1) 100%);
  padding: 61px 0 83px;
  h3 {
    margin: 0 40px 40px;
  }
  ul {
    display: flex;
    padding: 0 23px 0 31px;
    margin-left: -18px;
    li {
      width: calc(33, 33% - 18px);
      margin-left: 18px;
    }
  }
}

.bx_download_ari {
  background: linear-gradient(90deg, rgba(255, 96, 0, 1) 0%, rgba(248, 187, 0, 1) 100%);
  padding: 4px 0;
  .bx_bkg_02 {
    background: url(../img/bkg_bx.png) repeat;
    padding: 38px 0 46px 0;
  }
  h3 {
    text-align: center;
  }
  ul {
    display: flex;
    margin: 36px 0 14px -75px;
    justify-content: center;
    li {
      margin-left: 75px;
    }
  }
  .btn_down {
    position: relative;
    transform: translateZ(0);
    width: 886px;
    margin: 0 auto;
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(59, 134, 37, 1) 0%, rgba(215, 204, 34, 1) 100%);
      left: 0;
      top: 13px;
      border-radius: 8px;
      z-index: -1;
    }
    &:hover {
      a {
        opacity: 1;
        transform: translateY(13px);
      }
    }
    a {
      display: flex;
      width: 100%;
      height: 174px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: linear-gradient(90deg, rgba(59, 144, 26, 1) 0%, rgba(165, 218, 23, 1) 52%, rgba(54, 141, 26, 1) 100%);
      text-shadow: 0px 0px 9px #000;
      position: relative;
      transition: all 0.3s ease;
      span {
        position: relative;
        display: inline-block;
        padding: 0 0 0 180px;
        &:before {
          position: absolute;
          content: "";
          width: 180px;
          height: 158px;
          background: url(../img/icon_logo.png) 0 0 no-repeat;
          background-size: contain;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.gr_wait_rule {
  background-color: #f9b200;
  .row {
    background-color: #fff;
    padding: 30px 53px 105px 65px;
  }
  .tbl_rule {
    margin: 42px 0 51px;
  }
  .bx_text {
    padding: 82px 0 0 0;
    p {
      font-size: rem(30);
      line-height: 1.5;
      margin-bottom: 70px;
      &.txt_red {
        color: #e60012;
      }
      &.fz-lagre {
        font-size: rem(40);
        color: #e60012;
      }
    }
    .bx_who_video {
      margin: 100px auto 92px;
      text-align: center;
    }
    .photo {
      margin-bottom: 60px;
    }
    .bx_who_video {
      margin: 100px auto 92px;
      text-align: center;
    }
  }
}

.btn_back_top {
  position: relative;
  transform: translateZ(0);
  width: 850px;
  margin: 0 auto;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(43, 106, 19, 1) 0%, rgba(43, 106, 19, 1) 1%, rgba(122, 176, 17, 1) 52%, rgba(41, 104, 19, 1) 100%);
    left: 0;
    top: 18px;
    border-radius: 8px;
    z-index: -1;
  }
  &:hover {
    a {
      opacity: 1;
      transform: translateY(18px);
    }
  }
  a {
    display: flex;
    width: 100%;
    height: 215px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(59, 144, 26, 1) 0%, rgba(59, 144, 26, 1) 1%, rgba(165, 218, 23, 1) 52%, rgba(54, 141, 26, 1) 100%);
    position: relative;
    transition: all 0.3s ease;
    span {
      position: relative;
      display: inline-block;
      padding: 0 0 0 144px;
      &:before {
        position: absolute;
        content: "";
        width: 127px;
        height: 127px;
        background: url(../img/icon_play.png) 0 0 no-repeat;
        background-size: contain;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:after {
        content: "";
        background: url(../img/icon_up.png) no-repeat;
        width: 213px;
        height: 77px;
        position: absolute;
        bottom: -77px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.st_comment {
  background-color: #eeeeee;
  .row {
    padding: 87px 56px 148px 65px;
  }
  .bx_answer {
    background: linear-gradient(0deg, rgba(248, 171, 1, 1) 0%, rgba(248, 128, 0, 1) 100%);
    padding: 3px;
    margin: 0 auto;
    .bkg_06 {
      background-color: #fff;
      padding: 6px;
      h2 {
        background: linear-gradient(0deg, rgba(248, 171, 1, 1) 0%, rgba(248, 128, 0, 1) 100%);
        width: 100%;
        height: 100%;
        padding: 55px 0 59px;
        position: relative;
        &:after {
          content: "";
          background: url(../img/arr_down_cm.png) no-repeat;
          width: 197px;
          height: 46px;
          position: absolute;
          bottom: -52px;
          left: 50%;
          transform: translateX(-50%);
        }
        span {
          font-size: rem(50);
          line-height: 1.5;
          font-family: $font;
          color: #fff;
          font-weight: bold;
          text-align: center;
          display: block;
        }
      }
    }
  }
  .frmComment {
    margin-top: 119px;
    .frm_group {
      margin-bottom: 65px;
      .ans {
        background: linear-gradient(0deg, rgba(248, 171, 1, 1) 0%, rgba(248, 128, 0, 1) 100%);
        padding: 5px;
        display: inline-block;
        margin-bottom: 25px;
        ins {
          padding: 11px 16px;
          background-color: #fff;
          font-size: rem(38);
          line-height: 1;
          text-align: center;
          font-weight: bold;
          text-decoration: none;
          display: block;
        }
      }
      label {
        display: block;
        font-size: rem(24);
        line-height: 1.5;
        font-weight: bold;
      }
      .frm_textarea {
        width: 100%;
        height: 295px;
        border: 4px solid #d3d3d3;
        resize: none;
        margin-top: 38px;
        padding: 5px 10px;
        font-size: rem(24);
        line-height: 1.5;
        outline: none;
      }
    }
    .note {
      position: relative;
      padding: 12px 20px;
      text-align: center;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-size: rem(24);
      font-weight: bold;
      &.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
      }
      &.success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
      }
    }
    .btn_submit {
      width: 800px;
      margin: 0 auto;
      position: relative;
      transform: translateZ(0);
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(45, 101, 47, 1) 0%, rgba(117, 159, 42, 1) 52%, rgba(44, 99, 46, 1) 100%);
        left: 0;
        top: 15px;
        border-radius: 8px;
        z-index: -1;
      }
      &:hover {
        button {
          opacity: 1;
          transform: translateY(15px);
        }
      }
      button {
        display: flex;
        width: 100%;
        height: 223px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(62, 139, 65, 1) 0%, rgba(161, 205, 58, 1) 52%, rgba(58, 136, 64, 1) 100%);
        text-shadow: 0px 0px 9px #000;
        font-size: rem(55);
        line-height: 66px;
        font-weight: bold;
        color: #fff;
        position: relative;
        transition: all 0.3s ease;
        border: none;
        cursor: pointer;
        span {
          width: 100%;
          font-size: rem(37);
          line-height: 1.5;
          font-weight: bold;
          color: #fff;
          display: block;
          position: relative;
          &:before {
            content: "";
            background: url(../img/arr_left.png) no-repeat;
            width: 55px;
            height: 180px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 18px;
          }
          &:after {
            content: "";
            background: url(../img/arr_right.png) no-repeat;
            width: 55px;
            height: 180px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 18px;
          }
          strong {
            display: block;
            font-size: rem(72);
            line-height: 1;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.st_answer {
  .row {
    padding: 0 33px;
  }
  .bkg_ttl {
    background: linear-gradient(90deg, rgba(255, 96, 0, 1) 0%, rgba(248, 187, 0, 1) 100%);
    padding: 60px 0 50px;
    h2 {
      color: #fff;
      font-size: rem(50);
      font-weight: bold;
      text-align: center;
      line-height: 1.3;
      strong {
        font-size: rem(70);
      }
      span {
        display: block;
      }
    }
  }
  .gr_ans {
    background-color: #eeeeee;
    padding-bottom: 82px;
    .list_pag {
      font-size: rem(0);
      padding: 40px 0 50px;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 13px;
        }
        a {
          font-size: rem(42);
          font-weight: bold;
          color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 78px;
          height: 86px;
          border: 2px solid #bebebe;
          border-radius: 8px;
          background-color: #fff;
          &:hover {
            background: linear-gradient(90deg, rgba(255, 96, 0, 1) 0%, rgba(248, 187, 0, 1) 100%);
            color: #fff;
          }
        }
      }
    }
    .item_answer {
      background-color: #fff;
      padding: 40px 35px;
      &:not(:last-child) {
        margin-bottom: 37px;
      }
      .top_ans {
        margin-bottom: 33px;
        figure {
          display: flex;
          figcaption {
            font-size: rem(30);
            font-weight: bold;
            margin-left: 22px;
          }
        }
      }
      dl {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
        dt {
          font-size: rem(24);
          font-weight: bold;
          line-height: 34px;
          margin-bottom: 35px;
        }
        dd {
          font-size: rem(25);
          line-height: 34px;
        }
      }
      .bx_ad_ans {
        background-color: #f2f2f2;
        padding: 40px 35px;
        p {
          font-size: rem(25);
          line-height: 34px;
        }
      }
    }
  }
}

.st_ari_mb {
  background: url(../img/bkg_free.jpg) center center repeat-y;
  .bx_ttl_ari_mb {
    h2 {
      margin-bottom: 45px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .gr_special {
    article {
      padding: 0 29px 77px;
      &:nth-of-type(2),&:nth-of-type(8){
        .main_art{
          figure {
            position: absolute;
            top: 66px;
            right: 57px;
          }
        }
      }
      &:nth-of-type(9){
        .main_art{
          .art_text{
            text-align: center;
          }
        }
      }
      .ttl_art_special {
        text-align: center;
        margin-bottom: 34px;
        span {
          margin-bottom: 34px;
          display: block;
        }
      }
      .main_art {
        position: relative;
        &:before {
          content: "";
          width: 37px;
          height: 35px;
          background: url(../img/arrow_left_free.png) no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
        &:after {
          content: "";
          width: 37px;
          height: 35px;
          background: url(../img/arrow_right_free.png) no-repeat;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 1;
        }
        .bkg_white{
          border: 4px solid #000;
          background-color: #fff;
          padding: 52px 37px;
        }
        figure {
          text-align: center;
          margin-bottom: 40px;
        }
        .art_text {
          p {
            font-size: rem(30);
            line-height: 1.5;
            &:not(:last-child) {
              margin-bottom: 35px;
            }
            &.txt_po {
              position: relative;
              span {
                position: absolute;
                top: -25px;
                left: 0px;
              }
            }
          }
        }
      }
    }
  }
}