@charset "UTF-8";
@import "./_mixin/mixin";
.wrapper {
  min-width: 990px;
  overflow: hidden;
}

@import "./_header_pc.scss";
@import "./_style_dac_pc.scss";
@import "./_style_thong_pc.scss";
@include min-screen() {}

.ripple {
  display: block;
  position: absolute;
  top: 8px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #3b901a 0%, #3b901a 1%, #a5da17 52%, #368d1a 100%);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  animation-name: rippleAnimation;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes rippleAnimation {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}