@charset "UTF-8";
.wrapper {
  min-width: 990px;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.header .main_header {
  padding: 34px 0 0 35px;
}

.wrapper {
  min-width: 990px;
}

main {
  position: relative;
}

.first_view {
  width: 100%;
  position: relative;
  z-index: 1;
}

.first_view .main_sec {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  padding: 26px 15px 149px;
  position: relative;
  z-index: 2;
}

.first_view .main_sec .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first_view .main_sec .top .left {
  padding: 115px 0 0 0;
}

.first_view .main_sec .top .left h3 {
  margin-top: 20px;
}

.first_view .main_sec .top .left h4 {
  margin-top: 30px;
}

.first_view .main_sec .top figure {
  width: 282px;
}

.first_view .main_sec .top figure img {
  width: 100%;
  height: auto;
}

.first_view .main_sec .bottom {
  text-align: center;
  margin-top: -30px;
}

.first_view .particlesjs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 990px;
  height: 100%;
  z-index: 1;
  background: url("../img/bg_first.jpg") 0 0 no-repeat;
  -moz-background-size: cover;
       background-size: cover;
}

.step {
  background: -webkit-linear-gradient(left, #ff6000 0%, #f8b900 100%);
  background: -moz-linear-gradient(left, #ff6000 0%, #f8b900 100%);
  background: linear-gradient(90deg, #ff6000 0%, #f8b900 100%);
  padding: 4px;
  margin-top: 72px;
}

.step_white {
  background: #fff;
  padding: 4px;
}

.step_gradient {
  background: -webkit-linear-gradient(346deg, #f8a801 0%, #f88400 100%);
  background: -moz-linear-gradient(346deg, #f8a801 0%, #f88400 100%);
  background: linear-gradient(104deg, #f8a801 0%, #f88400 100%);
  position: relative;
}

.step_gradient::after {
  position: absolute;
  content: "";
  width: 160px;
  height: 80px;
  background: url("../img/arrow_step.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -80px;
}

.step_gradient .main_sec {
  text-align: center;
  padding: 0 0 35px;
}

.step_gradient .main_sec h2 img {
  margin-top: -80px;
}

.step_gradient .main_sec p:nth-of-type(1) {
  margin-top: 39px;
  font-size: 0;
}

.step_gradient .main_sec p:nth-of-type(2) {
  margin-top: 22px;
}

.step_gradient .main_sec em {
  font-style: normal;
  margin-top: 20px;
  display: block;
}

.step_gradient .main_sec span {
  display: block;
  margin-top: 30px;
}

.ytb {
  padding: 148px 0 95px;
  text-align: center;
}

.ytb .wrap {
  position: relative;
  width: 911px;
  margin: 0 auto;
}

.ytb .wrap.hidden:after {
  content: none;
}

.ytb .wrap.hidden a {
  display: none;
}

.ytb .wrap::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/maxresdefault.jpg") 0 0 no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  top: 0;
  left: 0;
  z-index: 2;
}

.ytb .wrap a {
  width: 80px;
  height: 80px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.ytb .wrap a:after {
  content: "";
  display: block;
  height: 80px;
  -moz-border-radius: 100%;
       border-radius: 100%;
  margin: 10px 10px 10px 10px;
  position: absolute;
  top: 50%;
  margin: -39px 0px 0px -39px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  z-index: 0;
  -moz-box-shadow: 0 0 5px white;
       box-shadow: 0 0 5px white;
  -webkit-animation-name: rippleAnimation;
     -moz-animation-name: rippleAnimation;
          animation-name: rippleAnimation;
  -webkit-animation-timing-function: ease-out;
     -moz-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
          animation-duration: 2s;
}

.ytb .wrap a i::before {
  font-size: 4rem;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
       border-radius: 50%;
}

.important {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  background: -webkit-linear-gradient(346deg, #ffb400 0%, #fff400 100%);
  background: -moz-linear-gradient(346deg, #ffb400 0%, #fff400 100%);
  background: linear-gradient(104deg, #ffb400 0%, #fff400 100%);
  padding: 65px 0 48px;
  position: relative;
}

.important::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 54px;
  background: url("../img/arrow_dowm_im.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -54px;
}

.important .main_im h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.important .main_im h2 span:not(:last-child) {
  margin-right: 12px;
}

.important .main_im p {
  text-align: center;
}

.important .main_im p:nth-of-type(1) {
  margin-top: 48px;
}

.important .main_im p:nth-of-type(2) {
  margin-top: 28px;
}

.system {
  padding: 154px 0 210px;
}

.system figure {
  text-align: center;
}

.notice .top {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  background: -webkit-linear-gradient(left, black 0%, #434343 48%, black 100%);
  background: -moz-linear-gradient(left, black 0%, #434343 48%, black 100%);
  background: linear-gradient(90deg, black 0%, #434343 48%, black 100%);
  position: relative;
}

.notice .top::before {
  position: absolute;
  content: "";
  width: 141px;
  height: 54px;
  background: url("../img/arrow_notice.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -54px;
}

.notice .top p {
  text-align: center;
  padding: 60px 0 75px;
}

.notice .top p span {
  display: inline-block;
  padding: 0 111px;
  position: relative;
}

.notice .top p span::before, .notice .top p span::after {
  position: absolute;
  content: "";
  width: 94px;
  height: 84px;
  background: url("../img/caution.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.notice .top p span::before {
  left: 0;
}

.notice .top p span::after {
  right: 0;
}

.notice .bottom {
  background: -webkit-linear-gradient(346deg, #ffb400 0%, #fff400 100%);
  background: -moz-linear-gradient(346deg, #ffb400 0%, #fff400 100%);
  background: linear-gradient(104deg, #ffb400 0%, #fff400 100%);
  padding: 26px 15px 54px;
}

.notice .bottom_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notice .bottom_top .left {
  width: 591px;
  background: #fff;
  -moz-border-radius: 9px;
       border-radius: 9px;
  padding: 36px 36px 39px 24px;
}

.notice .bottom_top .left p + p {
  margin-top: 33px;
}

.notice .bottom_top .right {
  width: 302px;
  -moz-border-radius: 9px;
       border-radius: 9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eeeeee;
}

.notice .bottom_middle {
  text-align: center;
  margin-top: 53px;
  padding: 0 0 144px;
  position: relative;
  margin-bottom: 33px;
}

.notice .bottom_middle::after {
  position: absolute;
  content: "";
  width: 125px;
  height: 125px;
  background: url("../img/arrow_down.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.notice .bottom_btn {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  width: 886px;
  margin: 0 auto;
}

.notice .bottom_btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #3b8625 0%, #d7cc22 100%);
  background: -moz-linear-gradient(left, #3b8625 0%, #d7cc22 100%);
  background: linear-gradient(90deg, #3b8625 0%, #d7cc22 100%);
  left: 0;
  top: 13px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  z-index: -1;
}

.notice .bottom_btn:hover a {
  opacity: 1;
  -webkit-transform: translateY(13px);
     -moz-transform: translateY(13px);
      -ms-transform: translateY(13px);
          transform: translateY(13px);
}

.notice .bottom_btn a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 174px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 8px;
       border-radius: 8px;
  background: -webkit-linear-gradient(left, #3b901a 0%, #a5da17 52%, #368d1a 100%);
  background: -moz-linear-gradient(left, #3b901a 0%, #a5da17 52%, #368d1a 100%);
  background: linear-gradient(90deg, #3b901a 0%, #a5da17 52%, #368d1a 100%);
  text-shadow: 0px 0px 9px #000;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.notice .bottom_btn a span {
  position: relative;
  display: inline-block;
  padding: 0 0 0 180px;
}

.notice .bottom_btn a span:before {
  position: absolute;
  content: "";
  width: 180px;
  height: 158px;
  background: url(../img/icon_logo.png) 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.profile h2 {
  background: -webkit-linear-gradient(346deg, #ff6100 0%, #f8b900 100%);
  background: -moz-linear-gradient(346deg, #ff6100 0%, #f8b900 100%);
  background: linear-gradient(104deg, #ff6100 0%, #f8b900 100%);
  /* w3c */
  text-align: center;
  padding: 50px 0 56px;
}

.profile .wrap {
  background: -webkit-linear-gradient(346deg, #ff7f00 0%, #fed400 100%);
  background: -moz-linear-gradient(346deg, #ff7f00 0%, #fed400 100%);
  background: linear-gradient(104deg, #ff7f00 0%, #fed400 100%);
  padding: 31px 0 101px;
}

.profile .wrap .main_sec {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 35px 0 50px;
}

.profile .wrap .main_sec h3 {
  width: 100%;
  margin-bottom: 23px;
}

.profile .wrap .main_sec figure {
  width: 405px;
}

.profile .wrap .main_sec .right {
  width: 480px;
}

.profile .wrap .main_sec .right p {
  font-size: 2rem;
  line-height: 40px;
  margin-top: 30px;
}

.hattrick_ar {
  background-color: #f9b200;
}

.hattrick_ar .main_sec {
  background: #fff;
  padding: 93px 65px 54px 73px;
}

.hattrick_ar .main_sec > div + div {
  margin-top: 79px;
}

.hattrick_ar .main_sec .intro {
  margin-bottom: 47px;
}

.hattrick_ar .main_sec .photo {
  margin-bottom: 59px;
}

.hattrick_ar .main_sec .pop {
  margin-top: 122px;
  text-align: center;
  margin-bottom: 106px;
}

.hattrick_ar .main_sec .btn_back_top a span {
  padding-left: 180px;
}

.hattrick_ar .main_sec .btn_back_top a span::before {
  width: 146px;
  height: 101px;
  background: url("../img/icon_ytb.png") 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.hattrick_ar .main_sec .txt {
  position: relative;
}

.hattrick_ar .main_sec .txt p {
  font-size: 3rem;
  line-height: 1.5;
  color: #4d4d4d;
}

.hattrick_ar .main_sec .txt p + p {
  margin-top: 70px;
}

.hattrick_ar .main_sec .txt figure {
  position: absolute;
  top: 0;
  right: 0;
}

.bx_download_ari.bx_download_ari2 {
  background: #e9e9e9;
}

.gr_wait_rule.forward .row {
  padding-top: 78px;
  padding-bottom: 115px;
}

.bx_monitor {
  background: -webkit-linear-gradient(left, #ff6000 0%, #f8bb00 100%);
  background: -moz-linear-gradient(left, #ff6000 0%, #f8bb00 100%);
  background: linear-gradient(90deg, #ff6000 0%, #f8bb00 100%);
  padding: 1px 0 4px;
  text-align: center;
  position: relative;
}

.bx_monitor:after {
  content: "";
  background: url(../img/icon_down_hand.png) no-repeat;
  width: 83px;
  height: 55px;
  position: absolute;
  bottom: -51px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bx_monitor .bx_bkg_01 {
  background: -webkit-linear-gradient(left, #fdf7dc 0%, #fff600 100%);
  background: -moz-linear-gradient(left, #fdf7dc 0%, #fff600 100%);
  background: linear-gradient(90deg, #fdf7dc 0%, #fff600 100%);
  padding: 31px 0 49px;
}

.bx_monitor .ttl_monitor {
  margin-top: 50px;
}

.bx_ariadne {
  padding: 96px 0 0 0;
}

.bx_ariadne .row {
  position: relative;
}

.bx_ariadne .tt_ari {
  text-align: center;
  padding-left: 261px;
  position: relative;
  margin-bottom: 86px;
}

.bx_ariadne .tt_ari:before {
  content: "";
  background: url(../img/bf_ari.png) no-repeat;
  width: 231px;
  height: 213px;
  position: absolute;
  top: 50%;
  left: 23px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bx_ariadne .list_ex_ari {
  padding: 0 30px;
  position: relative;
}

.bx_ariadne .list_ex_ari li {
  position: relative;
  margin-bottom: 63px;
}

.bx_ariadne .list_ex_ari li:nth-child(odd) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bx_ariadne .list_ex_ari li:nth-child(odd) figure {
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bx_ariadne .list_ex_ari li:nth-child(odd) .bx_ctn p {
  padding: 33px 53px 54px 154px;
}

.bx_ariadne .list_ex_ari li:nth-child(even) figure {
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
     -moz-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.bx_ariadne .list_ex_ari li:nth-child(even) .bx_ctn p {
  padding: 33px 154px 54px 53px;
}

.bx_ariadne .list_ex_ari li figure {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bx_ariadne .list_ex_ari li .bx_ctn {
  background: -webkit-linear-gradient(left, #ff6000 0%, #f8bb00 100%);
  background: -moz-linear-gradient(left, #ff6000 0%, #f8bb00 100%);
  background: linear-gradient(90deg, #ff6000 0%, #f8bb00 100%);
  padding: 4px;
  width: 732px;
}

.bx_ariadne .list_ex_ari li .bx_ctn p {
  background-color: #fff;
}

.bx_ariadne .list_ex_ari li .bx_ctn p em {
  font-size: 2.6rem;
  line-height: 35px;
  font-style: normal;
}

.ari_start {
  background: -webkit-linear-gradient(left, #f8ab01 0%, #f88000 100%);
  background: -moz-linear-gradient(left, #f8ab01 0%, #f88000 100%);
  background: linear-gradient(90deg, #f8ab01 0%, #f88000 100%);
  padding: 61px 0 83px;
}

.ari_start h3 {
  margin: 0 40px 40px;
}

.ari_start ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 23px 0 31px;
  margin-left: -18px;
}

.ari_start ul li {
  width: -webkit-calc(33, 33% - 18px);
  width: -moz-calc(33, 33% - 18px);
  width: calc(33, 33% - 18px);
  margin-left: 18px;
}

.bx_download_ari {
  background: -webkit-linear-gradient(left, #ff6000 0%, #f8bb00 100%);
  background: -moz-linear-gradient(left, #ff6000 0%, #f8bb00 100%);
  background: linear-gradient(90deg, #ff6000 0%, #f8bb00 100%);
  padding: 4px 0;
}

.bx_download_ari .bx_bkg_02 {
  background: url(../img/bkg_bx.png) repeat;
  padding: 38px 0 46px 0;
}

.bx_download_ari h3 {
  text-align: center;
}

.bx_download_ari ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 36px 0 14px -75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bx_download_ari ul li {
  margin-left: 75px;
}

.bx_download_ari .btn_down {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  width: 886px;
  margin: 0 auto;
}

.bx_download_ari .btn_down:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #3b8625 0%, #d7cc22 100%);
  background: -moz-linear-gradient(left, #3b8625 0%, #d7cc22 100%);
  background: linear-gradient(90deg, #3b8625 0%, #d7cc22 100%);
  left: 0;
  top: 13px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  z-index: -1;
}

.bx_download_ari .btn_down:hover a {
  opacity: 1;
  -webkit-transform: translateY(13px);
     -moz-transform: translateY(13px);
      -ms-transform: translateY(13px);
          transform: translateY(13px);
}

.bx_download_ari .btn_down a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 174px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 8px;
       border-radius: 8px;
  background: -webkit-linear-gradient(left, #3b901a 0%, #a5da17 52%, #368d1a 100%);
  background: -moz-linear-gradient(left, #3b901a 0%, #a5da17 52%, #368d1a 100%);
  background: linear-gradient(90deg, #3b901a 0%, #a5da17 52%, #368d1a 100%);
  text-shadow: 0px 0px 9px #000;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bx_download_ari .btn_down a span {
  position: relative;
  display: inline-block;
  padding: 0 0 0 180px;
}

.bx_download_ari .btn_down a span:before {
  position: absolute;
  content: "";
  width: 180px;
  height: 158px;
  background: url(../img/icon_logo.png) 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gr_wait_rule {
  background-color: #f9b200;
}

.gr_wait_rule .row {
  background-color: #fff;
  padding: 30px 53px 105px 65px;
}

.gr_wait_rule .tbl_rule {
  margin: 42px 0 51px;
}

.gr_wait_rule .bx_text {
  padding: 82px 0 0 25px;
}

.gr_wait_rule .bx_text p {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 70px;
  color: #4d4d4d;
}

.gr_wait_rule .bx_text .bx_who_video {
  margin: 100px auto 92px;
  text-align: center;
}

.btn_back_top {
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
  width: 886px;
  margin: 0 auto;
}

.btn_back_top:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #2b6a13 0%, #2b6a13 1%, #7ab011 52%, #296813 100%);
  background: -moz-linear-gradient(left, #2b6a13 0%, #2b6a13 1%, #7ab011 52%, #296813 100%);
  background: linear-gradient(90deg, #2b6a13 0%, #2b6a13 1%, #7ab011 52%, #296813 100%);
  left: 0;
  top: 18px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  z-index: -1;
}

.btn_back_top:hover a {
  opacity: 1;
  -webkit-transform: translateY(18px);
     -moz-transform: translateY(18px);
      -ms-transform: translateY(18px);
          transform: translateY(18px);
}

.btn_back_top a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 215px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 8px;
       border-radius: 8px;
  background: -webkit-linear-gradient(left, #3b901a 0%, #3b901a 1%, #a5da17 52%, #368d1a 100%);
  background: -moz-linear-gradient(left, #3b901a 0%, #3b901a 1%, #a5da17 52%, #368d1a 100%);
  background: linear-gradient(90deg, #3b901a 0%, #3b901a 1%, #a5da17 52%, #368d1a 100%);
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn_back_top a span {
  position: relative;
  display: inline-block;
  padding: 0 0 0 144px;
}

.btn_back_top a span:before {
  position: absolute;
  content: "";
  width: 127px;
  height: 127px;
  background: url(../img/icon_play.png) 0 0 no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn_back_top a span:after {
  content: "";
  background: url(../img/icon_up.png) no-repeat;
  width: 213px;
  height: 77px;
  position: absolute;
  bottom: -77px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st_nav_movie_nice .bx_ttl_movie_nice {
  background: -webkit-linear-gradient(left, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: -moz-linear-gradient(left, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: linear-gradient(90deg, #670101 0%, #f40000 50%, #7e0a0a 100%);
  padding: 10px 0;
  position: relative;
}

.st_nav_movie_nice .bx_ttl_movie_nice:after {
  content: "";
  background: url(../img/arr_ttl_movie.png) no-repeat;
  width: 129px;
  height: 73px;
  position: absolute;
  bottom: -59px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st_nav_movie_nice .bx_ttl_movie_nice .bx_bkg_05 {
  background: -webkit-linear-gradient(left, #facf16 0%, #facf16 1%, #d1941d 17%, #ffcc11 39%, #ffffd0 85%, #c8af36 100%);
  background: -moz-linear-gradient(left, #facf16 0%, #facf16 1%, #d1941d 17%, #ffcc11 39%, #ffffd0 85%, #c8af36 100%);
  background: linear-gradient(90deg, #facf16 0%, #facf16 1%, #d1941d 17%, #ffcc11 39%, #ffffd0 85%, #c8af36 100%);
  padding: 3px 0;
}

.st_nav_movie_nice .bx_ttl_movie_nice .bx_bkg_05 .bkg_core {
  background: -webkit-linear-gradient(left, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: -moz-linear-gradient(left, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: linear-gradient(90deg, #670101 0%, #f40000 50%, #7e0a0a 100%);
  padding: 104px 0 109px;
}

.st_nav_movie_nice .bx_ttl_movie_nice .bx_bkg_05 .bkg_core h2 {
  font-size: 5rem;
  color: #fff;
  font-weight: bold;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  line-height: 1.5;
  position: relative;
  text-align: center;
}

.st_nav_movie_nice .bx_ttl_movie_nice .bx_bkg_05 .bkg_core h2:before, .st_nav_movie_nice .bx_ttl_movie_nice .bx_bkg_05 .bkg_core h2:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st_nav_movie_nice .bx_ttl_movie_nice .bx_bkg_05 .bkg_core h2:before {
  background: url(../img/bf_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 422px;
  height: 48px;
  top: -74px;
}

.st_nav_movie_nice .bx_ttl_movie_nice .bx_bkg_05 .bkg_core h2:after {
  background: url(../img/af_ttl.png) no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  width: 422px;
  height: 48px;
  bottom: -74px;
}

.st_nav_movie_nice .bx_gift_episode {
  padding: 80px 0 137px;
  background: url(../img/bkg_free.jpg) center center no-repeat;
  -moz-background-size: cover;
       background-size: cover;
}

.st_nav_movie_nice .bx_gift_episode .first_ttl_cmm {
  text-align: center;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari {
  width: 932px;
  margin: 64px auto 47px;
  position: relative;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari:before {
  content: "";
  width: 37px;
  height: 35px;
  background: url(../img/arrow_left_free.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari:after {
  content: "";
  width: 37px;
  height: 35px;
  background: url(../img/arrow_right_free.png) no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .top_free {
  background: -webkit-linear-gradient(143deg, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: -moz-linear-gradient(143deg, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: linear-gradient(307deg, #670101 0%, #f40000 50%, #7e0a0a 100%);
  padding: 41px 0 40px;
  position: relative;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .top_free:after {
  content: "";
  width: 100%;
  height: 5px;
  background: -webkit-linear-gradient(left, #facf16 0%, #facf16 1%, #d1941d 17%, #ffcc11 39%, #ffffd0 85%, #c8af36 100%);
  background: -moz-linear-gradient(left, #facf16 0%, #facf16 1%, #d1941d 17%, #ffcc11 39%, #ffffd0 85%, #c8af36 100%);
  background: linear-gradient(90deg, #facf16 0%, #facf16 1%, #d1941d 17%, #ffcc11 39%, #ffffd0 85%, #c8af36 100%);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .top_free h4 {
  padding: 0 45px 0 230px;
  position: relative;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .top_free h4:before {
  content: "";
  background: url(../img/icon_free.png) no-repeat;
  width: 265px;
  height: 184px;
  position: absolute;
  left: -17px;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .top_free h4 img {
  position: relative;
  z-index: 2;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .bottom_free {
  background: -webkit-linear-gradient(bottom, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: -moz-linear-gradient(bottom, #670101 0%, #f40000 50%, #7e0a0a 100%);
  background: linear-gradient(0deg, #670101 0%, #f40000 50%, #7e0a0a 100%);
  padding: 4px;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .bottom_free .bx_bkg_07 {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 30px 67px 29px;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .bottom_free .bx_bkg_07 figure {
  width: 290px;
}

.st_nav_movie_nice .bx_gift_episode .bx_free_ari .bottom_free .bx_bkg_07 .bt_text {
  width: -webkit-calc(100% - 290px);
  width: -moz-calc(100% - 290px);
  width: calc(100% - 290px);
  padding-left: 25px;
}

.st_nav_movie_nice .bx_gift_episode .bx_obtaining {
  text-align: center;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method {
  width: 925px;
  border: 5px solid #000;
  margin: 101px auto 35px;
  position: relative;
  padding: 97px 30px 50px;
  background-color: #fff;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method h4 {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method .list_special {
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method .list_special li {
  text-align: center;
  width: -webkit-calc(33, 33% - 164px);
  width: -moz-calc(33, 33% - 164px);
  width: calc(33, 33% - 164px);
  position: relative;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method .list_special li:last-child:after {
  content: none;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method .list_special li:after {
  content: "";
  width: 187px;
  height: 10px;
  background-color: #da1c1c;
  position: absolute;
  top: 68px;
  right: -152px;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method .list_special li span {
  display: block;
  position: relative;
  z-index: 2;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method .list_special li em {
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: bold;
  display: block;
  margin: 30px 0 40px;
}

.st_nav_movie_nice .bx_gift_episode .bx_special_method .list_special li figure {
  display: block;
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm {
  width: 886px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #2d652f 0%, #759f2a 52%, #2c632e 100%);
  background: -moz-linear-gradient(left, #2d652f 0%, #759f2a 52%, #2c632e 100%);
  background: linear-gradient(90deg, #2d652f 0%, #759f2a 52%, #2c632e 100%);
  left: 0;
  top: 17px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  z-index: -1;
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm:hover a {
  opacity: 1;
  -webkit-transform: translateY(17px);
     -moz-transform: translateY(17px);
      -ms-transform: translateY(17px);
          transform: translateY(17px);
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 246px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 8px;
       border-radius: 8px;
  background: -webkit-linear-gradient(left, #3e8b41 0%, #a1cd3a 52%, #3a8840 100%);
  background: -moz-linear-gradient(left, #3e8b41 0%, #a1cd3a 52%, #3a8840 100%);
  background: linear-gradient(90deg, #3e8b41 0%, #a1cd3a 52%, #3a8840 100%);
  text-shadow: 0px 0px 9px #000;
  line-height: 66px;
  font-weight: bold;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm a span {
  width: 100%;
  font-size: 4.1rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  display: block;
  position: relative;
  text-align: center;
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm a span:before {
  content: "";
  background: url(../img/arr_left.png) no-repeat;
  width: 55px;
  height: 180px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm a span:after {
  content: "";
  background: url(../img/arr_right.png) no-repeat;
  width: 55px;
  height: 180px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
}

.st_nav_movie_nice .bx_gift_episode .btn_submit_cmm a span strong {
  display: block;
  font-size: 8rem;
  line-height: 1;
  margin-top: 5px;
}

.st_comment {
  background-color: #eeeeee;
}

.st_comment .row {
  padding: 87px 56px 148px 65px;
}

.st_comment .bx_answer {
  background: -webkit-linear-gradient(bottom, #f8ab01 0%, #f88000 100%);
  background: -moz-linear-gradient(bottom, #f8ab01 0%, #f88000 100%);
  background: linear-gradient(0deg, #f8ab01 0%, #f88000 100%);
  padding: 3px;
  margin: 0 auto;
}

.st_comment .bx_answer .bkg_06 {
  background-color: #fff;
  padding: 6px;
}

.st_comment .bx_answer .bkg_06 h2 {
  background: -webkit-linear-gradient(bottom, #f8ab01 0%, #f88000 100%);
  background: -moz-linear-gradient(bottom, #f8ab01 0%, #f88000 100%);
  background: linear-gradient(0deg, #f8ab01 0%, #f88000 100%);
  width: 100%;
  height: 100%;
  padding: 55px 0 59px;
  position: relative;
}

.st_comment .bx_answer .bkg_06 h2:after {
  content: "";
  background: url(../img/arr_down_cm.png) no-repeat;
  width: 197px;
  height: 46px;
  position: absolute;
  bottom: -52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st_comment .bx_answer .bkg_06 h2 span {
  font-size: 5rem;
  line-height: 1.5;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
}

.st_comment .frmComment {
  margin-top: 119px;
}

.st_comment .frmComment .frm_group {
  margin-bottom: 65px;
}

.st_comment .frmComment .frm_group .ans {
  background: -webkit-linear-gradient(bottom, #f8ab01 0%, #f88000 100%);
  background: -moz-linear-gradient(bottom, #f8ab01 0%, #f88000 100%);
  background: linear-gradient(0deg, #f8ab01 0%, #f88000 100%);
  padding: 5px;
  display: inline-block;
  margin-bottom: 25px;
}

.st_comment .frmComment .frm_group .ans ins {
  padding: 11px 16px;
  background-color: #fff;
  font-size: 3.8rem;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.st_comment .frmComment .frm_group label {
  display: block;
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: bold;
}

.st_comment .frmComment .frm_group .frm_textarea {
  width: 100%;
  height: 295px;
  border: 4px solid #d3d3d3;
  resize: none;
  margin-top: 38px;
  padding: 5px 10px;
  font-size: 2.4rem;
  line-height: 1.5;
  outline: none;
}

.st_comment .frmComment .note {
  position: relative;
  padding: 12px 20px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -moz-border-radius: 4px;
       border-radius: 4px;
  font-size: 2.4rem;
  font-weight: bold;
}

.st_comment .frmComment .note.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.st_comment .frmComment .note.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.st_comment .frmComment .btn_submit {
  width: 800px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
          transform: translateZ(0);
}

.st_comment .frmComment .btn_submit:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #2d652f 0%, #759f2a 52%, #2c632e 100%);
  background: -moz-linear-gradient(left, #2d652f 0%, #759f2a 52%, #2c632e 100%);
  background: linear-gradient(90deg, #2d652f 0%, #759f2a 52%, #2c632e 100%);
  left: 0;
  top: 15px;
  -moz-border-radius: 8px;
       border-radius: 8px;
  z-index: -1;
}

.st_comment .frmComment .btn_submit:hover button {
  opacity: 1;
  -webkit-transform: translateY(15px);
     -moz-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}

.st_comment .frmComment .btn_submit button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 223px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -moz-border-radius: 8px;
       border-radius: 8px;
  background: -webkit-linear-gradient(left, #3e8b41 0%, #a1cd3a 52%, #3a8840 100%);
  background: -moz-linear-gradient(left, #3e8b41 0%, #a1cd3a 52%, #3a8840 100%);
  background: linear-gradient(90deg, #3e8b41 0%, #a1cd3a 52%, #3a8840 100%);
  text-shadow: 0px 0px 9px #000;
  font-size: 5.5rem;
  line-height: 66px;
  font-weight: bold;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.st_comment .frmComment .btn_submit button span {
  width: 100%;
  font-size: 3.7rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  display: block;
  position: relative;
}

.st_comment .frmComment .btn_submit button span:before {
  content: "";
  background: url(../img/arr_left.png) no-repeat;
  width: 55px;
  height: 180px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 18px;
}

.st_comment .frmComment .btn_submit button span:after {
  content: "";
  background: url(../img/arr_right.png) no-repeat;
  width: 55px;
  height: 180px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 18px;
}

.st_comment .frmComment .btn_submit button span strong {
  display: block;
  font-size: 7.2rem;
  line-height: 1;
  margin-top: 5px;
}

.ripple {
  display: block;
  position: absolute;
  top: 8px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #3b901a 0%, #3b901a 1%, #a5da17 52%, #368d1a 100%);
  background: -moz-linear-gradient(left, #3b901a 0%, #3b901a 1%, #a5da17 52%, #368d1a 100%);
  background: linear-gradient(90deg, #3b901a 0%, #3b901a 1%, #a5da17 52%, #368d1a 100%);
  -moz-border-radius: 8px;
       border-radius: 8px;
  -moz-box-shadow: 0 0 5px white;
       box-shadow: 0 0 5px white;
  -webkit-animation-name: rippleAnimation;
     -moz-animation-name: rippleAnimation;
          animation-name: rippleAnimation;
  -webkit-animation-timing-function: ease-out;
     -moz-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes rippleAnimation {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@-moz-keyframes rippleAnimation {
  0% {
    -moz-transform: scale(1, 1);
         transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1.2, 1.2);
         transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes rippleAnimation {
  0% {
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
       -moz-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
